<style>
  button {
    font-size: 20px;
  }

  input {
    font-size: 20px;
  }

  .mousePointLabel {
    display: inline-block;
    width: 220px;
  }
</style>
<div style="padding: 40px; height: 2000px; font-size: 24px;">
  <div>
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>

  
  <!-- Initial Examples Section -->
  <div>
    <textarea [(ngModel)]="textAreaValue" style="width: 60%; height: 400px; font-size: 24px;"></textarea>
  </div>

  <div style="height:200px;"></div>


  <!-- Mouse Move Section -->
  <div>
    <span class="mousePointLabel">Mouse Down:</span>
    <span [innerHTML]="mouseDownValue"></span>
  </div>
  <div style="margin-top: 10px;">
    <span class="mousePointLabel">Mouse Up:</span>
    <span [innerHTML]="mouseUpValue"></span>
  </div>
  <div style="margin-top: 10px;">
    <span class="mousePointLabel">Mouse Move:</span>
    <span [innerHTML]="mouseMoveValue"></span>
  </div>
  <div style="margin-top: 10px;">
    <span class="mousePointLabel">Mouse Down Move:</span>
    <span [innerHTML]="mouseDownMoveValue"></span>
  </div>

  <div #mouseDiv style="width: 60%; height: 400px; background-color: #EEF; font-size: 20px;">
  </div>

  <div style="height:200px;"></div>


  <!-- Send Message Section -->
  <div>
    Send Message:
    <input type="text" style="font-size: 24px;" [(ngModel)]="nextMessage" (ngModelChange)="newMessage(nextMessage)" />
  </div>
  <br />
  <br /> display 1:
  <display-message></display-message>
  <br />
  <!-- <br />
  display 2:
  <display-message></display-message> -->


  <div style="height:200px;"></div>


  <!-- Service Calls Section -->
  <h3>Service Calls</h3>
  <br />
  <button type="button" (click)="onGetCommentsClick()">Get Comments</button><br />
  <br />
  <button type="button" (click)="onPostsAndCommentsClick()">Get Posts AND Comments</button><br />
  <br />
  <button type="button" (click)="onPostsWithCommentsClick()">Get Posts WITH Comments</button><br />
  <br />

  <textarea [(ngModel)]="serviceResult" style="width: 60%; height: 400px; font-size: 24px;"></textarea>

  <div style="height:200px;"></div>


  <!-- Demo Reactive Forms Section -->
  PostId: <input type="text" [formControl]="postId">
  <div
    style="background-color: #ccc; margin-top: 10px; padding: 10px; width: 60%"
    [innerHTML]="reactiveFormResult">
  </div>


  <div style="height:400px;"></div>
</div>