<div style="padding: 40px; height: 2000px; font-size: 24px;">
  <div>
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>

  <div>
    <textarea [(ngModel)]="textAreaValue" style="width: 90%; height: 400px; font-size: 24px;"></textarea>
  </div>

  <div style="height:200px;"></div>

  <div>
    Mouse Down:<span [innerHTML]="mouseDownValue"></span>
  </div>

  <div>
    Mouse Up:<span [innerHTML]="mouseUpValue"></span>
  </div>

  <div>
    Mouse Move:<span [innerHTML]="mouseMoveValue"></span>
  </div>

  <div>
    Mouse Down Move:<span [innerHTML]="mouseDownMoveValue"></span>
  </div>

  <div #mouseDiv style="height: 400px;background-color: #EEF;font-size: 20px;">

  </div>
</div>