<div style="padding: 40px; height: 2000px; font-size: 24px;">
  <div>
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>

  <div>
    <textarea [(ngModel)]="textAreaValue" style="width: 90%; height: 400px; font-size: 24px;"></textarea>
  </div>

  <div style="height:200px;"></div>

  <div>
    Mouse Down:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [innerHTML]="mouseDownValue"></span>
  </div>

  <div>
    Mouse Up:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span [innerHTML]="mouseUpValue"></span>
  </div>

  <div>
    Mouse Move:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [innerHTML]="mouseMoveValue"></span>
  </div>

  <div>
    Mouse Down Move:&nbsp;&nbsp;&nbsp;<span [innerHTML]="mouseDownMoveValue"></span>
  </div>

  <div #mouseDiv style="height: 400px;background-color: #EEF;font-size: 20px;">

  </div>

  <div style="height:200px;"></div>

  <div>
    Send Message: <input type="text" style="font-size: 24px;" [(ngModel)]="nextMessage" (ngModelChange)="newMessage(nextMessage)"
    />
  </div>
  <br />
  <br />
  display 1:
  <display-message></display-message>
  <br />
  <!-- <br />
  display 2:
  <display-message></display-message> -->
  


</div>